<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://JAVA.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ShoppingCar</display-name>
<!-- 	<welcome-file-list> -->
<!-- 		<welcome-file>index.html</welcome-file> -->
<!-- 		<welcome-file>index.htm</welcome-file> -->
<!-- 		<welcome-file>index.jsp</welcome-file> -->
<!-- 		<welcome-file>default.html</welcome-file> -->
<!-- 		<welcome-file>default.htm</welcome-file> -->
<!-- 		<welcome-file>hello.jsp</welcome-file> -->
<!-- 	</welcome-file-list> -->

	<!-- index -->
	<servlet>
		<description></description>
		<display-name>IndexShoppingCar</display-name>
		<servlet-name>IndexShoppingCar</servlet-name>
		<servlet-class>com.mvc.servlet.IndexShoppingCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexShoppingCar</servlet-name>
		<url-pattern>/IndexShoppingCar/index</url-pattern>
	</servlet-mapping>

	<!-- 查詢資料 -->
	<servlet>
		<description></description>
		<display-name>EricaShoppingCar</display-name>
		<servlet-name>EricaShoppingCar</servlet-name>
		<servlet-class>com.mvc.servlet.EricaShoppingCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EricaShoppingCar</servlet-name>
		<url-pattern>/ericaShoppingCar/index</url-pattern>
	</servlet-mapping>

	<!-- 新增資料 -->
	<servlet>
		<description></description>
		<display-name>InsertShoppingCar</display-name>
		<servlet-name>InsertShoppingCar</servlet-name>
		<servlet-class>com.mvc.servlet.InsertShoppingCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertShoppingCar</servlet-name>
		<url-pattern>/insertShoppingCar/insert</url-pattern>
	</servlet-mapping>

	<!-- 更新資料 -->
	<servlet>
		<description></description>
		<display-name>UpdateShoppingCar</display-name>
		<servlet-name>UpdateShoppingCar</servlet-name>
		<servlet-class>com.mvc.servlet.UpdateShoppingCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateShoppingCar</servlet-name>
		<url-pattern>/updateShoppingCar/update</url-pattern>
	</servlet-mapping>

	<!-- 刪除資料 -->
	<servlet>
		<description></description>
		<display-name>DeleteShoppingCar</display-name>
		<servlet-name>DeleteShoppingCar</servlet-name>
		<servlet-class>com.mvc.servlet.DeleteShoppingCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteShoppingCar</servlet-name>
		<url-pattern>/deleteShoppingCar/delete</url-pattern>
	</servlet-mapping>

</web-app>